<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slins.flutterfft">

    <!-- Required permissions for audio recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
        <!-- This meta-data is required for V2 embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
